@font-face {
  font-family: SansaPro;
  src: url('../font/SansaPro-Normal.otf');
}
body{
  font-family: 'SansaPro';
  background: url(../img/montain.jpg);
  background-size: cover;
  color: white;
  width:100vw;
  height: 100vh;
  //font-size:0.85vw;
}
.glass{
 background: rgba(255, 255, 255, 0.2);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(8.6px);
 -webkit-backdrop-filter: blur(8.6px);
 border: 1px solid rgba(255, 255, 255, 0.3);
}
header h1{
 margin-top:1vw;
 text-align:center;
 font-size:3.5rem;
}
.tudo{
  display:grid;
  column-gap:1%;
  row-gap:2%;
  width:82vw;
  margin: 0 auto;
  grid-template-columns: 25% 25% 50%;
  grid-template-areas:
    "info info info"
    "resistencias pontos pontos "
    "ca ca habilidades"
    "ataque ataque armor"
    "habilidadesClasse habilidadesClasse habilidadesClasse"
    "magiasTalentos magiasTalentos magiasTalentos"
    "periciasSection periciasSection periciasSection"
          ;
}
/*********************************************************/
.info{
  grid-area: info;
  width:100%;
  //margin: 0.2vw 0 auto;
  display: flex;
  justify-content: space-between;

}
.titulos{
  font-weight:bold;
  color:#fff;
}
.info div {
  margin-top:0.5vw;
  margin-bottom:0.7vw;
  margin-left:0.5vw;
  margin-right:0.5vw;
  padding: 0.4vw;  
}
.info p{
  text-align:center;
  margin: 0vw;
}
/*********************************************************/

.pontos{
  grid-area: pontos;
  display: flex;
  width:100%;
  justify-content: center;
  column-count: 2;
  //justify-content:space-between;
}
.pontos div{
  padding: 0.5vw;
  text-align:center;
  //margin-right: 0.4vw;
}

/*********************************************************/
.habilidades{
  grid-area: habilidades;
  width:100%;
  height:100%;
  flex-flow: column nowrap;
  display: flex;
  color:white;
  text-align: center;
}
.flex{
  justify-content: center;
  display: flex;

}
.habLegenda, .valorLegenda, .ModHabLegenda, .tHab, .valorAtri, .ModHab{
  width:8vw;
  text-align:left;
  margin: 0.2vw 1vw;
}
.valorLegenda, .ModHabLegenda, .valorAtri, .ModHab{
  text-align: center;
}
.ca{
  grid-area: ca;
  width:100%;
  height:100%;
  justify-content: center;
}
.classeArmadura{
  display:flex;
  margin-top:1vw;
  text-align:center;
  justify-content: center;
}
.atributosCA{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.atributosCA div {
  display:flex;
  width: 15vw;
  justify-content: space-between;
  margin-bottom: 0.3em;
}
.CaLegenda{
  margin: 0 0.25vw;
}
.CaNumero{
  margin: 0 5px;
}
/*******************************************************************/
.resistencias{
  grid-area: resistencias;
  width:100%;
  height: 100%;
  display:flex;
  flex-direction: column;
}
.resistenciasTitulo{
  margin-top:1.2em;
}
.resistencias div {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.resistencias p {
  margin: 0em;
  text-align:center;
  width:3.9em;
}

/************************************************************************/
.ataque{
  grid-area: ataque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px red;
  }
.ataque div{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.ataque p{
  margin-top: 0.2em;
  text-align:center;
  margin-left: 0.5em;
}
.valorAt{
  width: 5.5vw;
}
.tipoAtaque{
  width: 6vw;
}
.atqlegendas{
  margin-top: 0.5em;
}
.last{
  margin-bottom: 0.8em;
}
/**********************************************************/
.ataqueAd{
  grid-area: ataqueAd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ataqueAd div{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.ataqueAd p{
  margin-top: 0.2em;
  text-align:center;
  margin-left: 0.5em;
}

/**********************************************************/
.habilidadesClasse{
  grid-area: habilidadesClasse;
}
.titulo{
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}
.habilidadesClasse div{
  height:90%;
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  align-items: center;
  margin: 0 1em;
  align-content: start;
  gap: 0.5em;
}
.habilidadesClasse p {
  text-align:center;
}

.magiasTalentos{
  grid-area: magiasTalentos;
}
.magiasTalentos div{
   height:90%;
   display: grid;
   column-count: 3;
   grid-template-columns: auto auto auto auto auto auto;
   align-items: center;
   margin: 0 1em;
   align-content: start;
   gap: 0.5em;
 }
 .magiasTalentos p {
   text-align:center;
 }
/**********************************************************/
.armor{
  grid-area: armor;
  display: flex;
  flex-direction: column;
  
  
  
}
.armor div{
  display: flex;
  margin-right: 1em;

}
.armor p{
  margin-top: 0.4em;
  text-align:center;
  flex-grow: 1;
	flex-basis: 20px;
}

/**********************************************************/
.periciasSection{
  grid-area: periciasSection;
 
}
.pericias{
  transform: scale(0.9);
  column-count: 4;
}
.geral{
  margin-left:0.5em;
  color:white;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.geral p {
  text-align: center;
}
.nome{
  width: 10em;
}
hr {
  width:99%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  transform: scale(0.6);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cc0000;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #14cc00;
}
input:focus + .slider {
  box-shadow: 0 0 1px #14cc00;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
